



@font-face {
    font-family: 'contenu';
    src: url('Polices/Sansation_Bold.ttf');
}

@font-face {
    font-family: 'titre';
    src: url('Polices/dodger3.ttf');
}



header
{
	margin:0;
	background-color:black;
	width:100%;

	display:flex;
	align-items:center;
	border-bottom:3px white solid;

}


body
{
	background-image: url("fond.jpg");
	background-size:100% 100%;
	width:100%;
	height:100%;
	background-position: center;
	background-attachment: fixed;
	margin:0;

}

}
.bandeau
{
	width:70%;
	color: white;
	margin:0% auto 0% auto;
	box-shadow: 1px 1px 0.6px black;
	background-color:black;


}


.Stroll
{		
	width:68%;
	color: white;
	margin:auto;
	box-shadow: 1px 1px 0.6px black;
	padding:2% 1%;
	border-bottom:2px black solid;
	background-color:white;
	opacity:0.8;
}

.milieu
{
	display:flex;
	flex-direction:row;
	padding:2%;
	border:0px black solid;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    width:30%;
    margin:5% 5% 0% 70%;
    background-color: black;
    padding: 2% 4% 2% 4%;
    border:none;
 	font-size:2vw;
    color: white;
}

.titrecontenu
{
	width:58%;
	margin:0% 15% 0%15%;
	background-color:#EF0000;
	padding:2% 6%;
	border:0px black solid;
	font-family:"titre";
	font-size:3.5vw;
	text-shadow: 1px 1px white;
	color:black;
	box-shadow: 1px 1px 0.6px black;
	opacity: 0.7;
	border-radius: 2px 2px;

}


.bandeau
{
	width:70%;
	color: white;
	margin:0% auto 0% auto;
	box-shadow: 1px 1px 0.6px black;
	background-color:black;
	opacity: 0.9;

}


table
{
	width:100%;
	margin:auto;
	font-size:1vw;
	border:1px black solid;
	background-color:black;
	overflow:hidden;
}


th{
	width:7%;
	border:2px black solid;
	padding:0.5%;
	color:black;
	background-color: #0089E5;
	font-size: 1.25vw;
	font-family: 'contenu';
	word-wrap: break-word;
}
 


.title
{	width:96%;
	margin:0% auto 0% auto;
	padding: 3% 2%;
	text-align:center;
	background-color:black;
	color:white;
 	font-family:'titre';
 	font-size:6vw;
 	padding:10% auto 10% auto; 
 	border-bottom:3px white solid;
 	opacity: 0.9;
 }
 .title2
{	width:98%;
	margin:0% auto 0% auto;
	padding: 3% 1%;
	text-align:center;
	background-color:black;
	color:white;
 	font-family:'titre';
 	font-size:5vw;
 	padding:10% auto 10% auto; 
 	border-bottom:3px white solid;
 	
 }
  
.sub input[type=submit], .sub input[type=button]{
    width:95%;
    margin:auto 2.5%;
    background-color: black;
    border-radius:4px;
    border:black;
    padding:10px, 10px;
    text-align:center;
    color: white;
    font-family: 'contenu';
    font-size:2vw;
}
.sub input[type=submit]:hover, .sub input[type=button]:hover{
    background-color: gray;
  	 color:white;
    box-shadow:2px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}



.instructions
{
	width: 96%;
	font-family: 'contenu';
	font-size: 1.5vw;
	margin:2% 2%;
	padding:1%;
	border:4% black solid;
	font-color:black;
	background: black;
}

tr
{
	text-align:center;
	font-size: 1.25vw;
}