header
{
	margin:0;
	background-color:black;
	width:100%;

	display:flex;
	align-items:center;
	border-bottom:3px white solid;

}

body
{
	background-image: url("fond.jpg");
	background-size:100% 100%;
	width:100%;
	height:100%;
	background-position: center;
	background-attachment: fixed;
	margin:0;

}

}
.bandeau
{
	width:70%;
	color: white;
	margin:0% auto 0% auto;
	box-shadow: 1px 1px 0.6px black;
	background-color:black;

}
.titre1
{
	margin:0;
	padding:4% 4% 0% 4%;
	font-size:5vw;
	border:0px red solid;
	font-family:"titre banniere";
}

.titre2
{	
	margin:0%;
	font-size:2.5vw;
	padding:2% 0% 3% 7%;
	border:0px blue solid;
	font-family:"titre banniere";

}

.titre3
{
	margin:0;
	padding:4% 4% 0% 4%;
	font-size:3vw;
	border:0px red solid;
	font-family:"titre banniere";
}


.Stroll
{		
	width:68%;
	color: white;
	margin:auto;
	box-shadow: 1px 1px 0.6px black;
	padding:2% 1%;
	border-bottom:2px black solid;
	background-color:white;
	opacity:0.8;
}

.milieu
{
	display:flex;
	flex-direction:row;
	padding:2%;
	border:0px black solid;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    width:30%;
    margin:5% 5% 0% 70%;
    background-color: black;
    padding: 2% 4% 2% 4%;
    border:none;
 	font-size:2vw;
    color: white;
}

.titrecontenu
{
	width:58%;
	margin:0% 15% 0%15%;
	background-color:#EF0000;
	padding:2% 6%;
	border:0px black solid;
	font-family:"titre banniere";
	font-size:3vw;
	text-shadow: 1px 1px white;
	color:black;
	box-shadow: 1px 1px 0.6px black;
	opacity: 0.7;
	border-radius: 2px 2px;

}


.Sjeux
{		
	width:68%;
	color: black;
	margin:auto;
	box-shadow: 1px 1px 0.6px black;
	border-bottom:2px black solid;
	opacity:0.9;
	background-color:#10C7E3;


}
.bandeau
{
	width:70%;
	color: white;
	margin:0% auto 0% auto;
	box-shadow: 1px 1px 0.6px black;
	background-color:black;
	opacity: 0.9;

}


table
{
	width:96%;
	margin:auto;
	font-size:1vw;
	border:1px black solid;
	background-color:black;
	overflow:hidden;



}

.c1
{
	font-size:1.5vw;
}

c2
{
	font-size:0.5vw;
}

c3
{
	font-size:2vw;
}
th{
	border:2px black solid;
	padding:1%;
	color:black;
	background-color: #0089E5;
}
 


.title
{	width:96%;
	margin:0% auto 0% auto;
	padding: 3% 2%;
	text-align:center;
	background-color:black;
	color:white;
 	font-family:'titre banniere';
 	font-size:4vw;
 	padding:10% auto 10% auto; 
 	border-bottom:3px white solid;
 	opacity: 0.9;
 }
 .title2
{	width:98%;
	margin:0% auto 0% auto;
	padding: 3% 1%;
	text-align:center;
	background-color:black;
	color:white;
 	font-family:'titre banniere';
 	font-size:4vw;
 	padding:10% auto 10% auto; 
 	border-bottom:3px white solid;
 	
 }
  
.sub input[type=submit], .sub input[type=button]{
    width:15%;
    margin:6% auto 2% auto;
    background-color: black;
    border-radius:5px;
    border:black;
    padding:2px, 2px;
    text-align:center;
    color: white;
    font-family: 'contenu';
    font-size:1.75vw;
}
.sub input[type=submit]:hover, .sub input[type=button]:hover{
    background-color: gray;
  	 color:white;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}




